:root {
    --c-green: #2d7500;
    --c-darkgreen: #006400;
    --c-2darkgreen: #013220;
    --c-2green: #01541a;
    --c-background: #555;
    --c-2background: #272727;
    --c-3background: #3E3E3E;
    --c-text: #f1f1f1;
    --c-lowText: #bebebe;
}