@import "color_pallete.css";

html{
    background-color: var(--c-background);
}

footer {
    padding: 10px;
    text-align: left;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

*{
  box-sizing: border-box;  
}