
main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

#login {
    padding: 20px;
    background-color: var(--c-2background);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
}